@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  height: 2.5rem;
  width: 100vw;
  padding: 0 30px;
  position: fixed;
  z-index: 100;
  /* box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icn {
  height: 30px;
}
.menuicn {
  cursor: pointer;
}

.searchbar,
.message,
.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar2 {
  display: none;
}

.logosec {
  gap: 60px;
}

.searchbar input {
  width: 200px;
  height: 1.75rem;
  /* border-radius: 50px 0 0 50px; */
  padding: 0 20px 0 35px;
  outline: none;
  border: none;
}

.searchbar{
    position: relative;
}
.bi-search{
    align-items: center;
    bottom: 0;
    display: flex;
    top: 0;
    justify-content: center;
    width: 1.75rem;
    z-index: 10;
}

.searchbar .bi-search {
    position: absolute;
    left: 5px; /* Position icon inside the input */
    font-size: 1.125rem;
  }

.searchbtn {
  width: 50px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 50px 50px 0px;
  /* background-color: var(--secondary-color); */
  cursor: pointer;
}

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
  }
  .circle {
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fa7bb4;
    border-radius: 50%;
    left: 19px;
    top: 8px;
  }
  .dp {
    height: 40px;
    width: 40px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 42px;
    left: -40px;
    z-index: 1;
  }
  .dpicn {
    height: 42px;
  }
  
  .main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px 30px 30px 30px;
  }
  
  .main::-webkit-scrollbar-thumb {
    background-image: 
          linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
  }
  .main::-webkit-scrollbar {
    width: 5px;
  }
  .main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
  }
  
  .box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .nav {
    min-height: 100%;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
  }


  .menu-text{
    flex: 1;
    margin-left: 8px;
  }

  .nav-option .menu-text {
    text-decoration: none; /* Removes underline */
}

  .dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .option2:hover .dropdown-content {
    display: block;
  }

  .navcontainer {
    height: 100vh;
    width: 13.125rem;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
  }
  .navcontainer::-webkit-scrollbar {
    width: 5px; /* Adjust the width of the scrollbar */
  }
  .navcontainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0px;
}

.navcontainer::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

  .navclose {
    width: 80px;
  }
  .nav-option {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 10px;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding: 10px;
  }
  .nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
  }
  .nav-img {
    height: 15px;
  }
  
  .nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 30px; */
  }

  .viewlist{
    height: calc(100vh - 70px);
    width: 1117px;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 30px 30px 30px 20px;
  }

  .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    /* background-color: transparent; */
    border-radius: 0;
    display: block;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .35rem .625rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%
}


table.table-tfoot-sticky tfoot, table.table-thead-sticky thead {
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  background: var(--bs-table-bg);
  box-shadow: 0 0 0 1px var(--bs-table-border-color);
  position: sticky;
}
table.table-thead-sticky thead {
  top: 0;
}

.btn {
  --bs-btn-padding-x: 0.625rem;
  --bs-btn-padding-y: 0.35rem;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0;
  --bs-btn-hover-border-color: transparent;
  border-radius: var(--bs-btn-border-radius);
  cursor: pointer;
  display: inline-block;
  line-height: var(--bs-btn-line-height);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle
}

  .page-header {
    border: none;
    margin-bottom: .625rem;
    padding: 0
}

#sidebar-menu {
    margin-top: 45px !important;
    width: 70px;
    height: 100vh;
    background: #111314;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling when content exceeds the height */
    overflow-x: hidden;
    padding-right: 10px; 
}

/* Optional: To style the scrollbar */
#sidebar-menu::-webkit-scrollbar {
  width: 8px;
}

#sidebar-menu::-webkit-scrollbar-thumb {
  background-color: #e6dfdf;
  border-radius: 10px;
}

#sidebar-menu::-webkit-scrollbar-thumb:hover {
  background-color: #e0cfcf;
}
/* end scrollbar */

#sidebar-menu a{
    display: block;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

#sidebar-menu a label {
    display: block;
    color: #ffffff;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    font-weight: 300;
}
.ps-50px {
  padding-left: 50px !important;
}

.ms-n1 {
  margin-left: -.15625rem !important;
}

.my-n1 {
  margin-bottom: -.15625rem !important;
  margin-top: -.15625rem !important;
}

.ddd{
  margin-left: 10px;
}
.formelement{
  height: 500px;
  width: 800px;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  padding: 30px 30px 30px 30px;
}

.bi-list{
/* display: inline-block; */
height: 30px;
font-size: 24px;
}
  
  .option1 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
  }
  .option1:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
  }
  .box {
    height: 130px;
    width: 230px;
    border-radius: 0px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  .card .card-header {
    font-size: .625rem;
    font-weight: 500;
}

/* .hsz{
  max-width: 150px;
  max-height: 96px;
} */

  .box:hover {
    transform: scale(1.08);
  }
  
  .box:nth-child(1) {
    background-color: var(--one-use-color);
  }
  .box:nth-child(2) {
    background-color: var(--two-use-color);
  }
  .box:nth-child(3) {
    background-color: var(--one-use-color);
  }
  .box:nth-child(4) {
    background-color: var(--two-use-color);
  }
  
  .box img {
    height: 50px;
  }
  .box .text {
    color: white;
  }
  .topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
  }
  
  .report-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
  }
  .report-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
  }
  
  .recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
  }
  
  .view {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
  }
  
  .report-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
  }
  .report-topic-heading,
  .item1 {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .t-op {
    font-size: 18px;
    letter-spacing: 0px;
  }
  
  .items {
    width: 1120px;
    margin-top: 15px;
  }
  
  .item1 {
    margin-top: 20px;
  }
  .t-op-nextlvl {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
  }
  
  .label-tag {
    width: 100px;
    text-align: center;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 4px;
  }
 
  